<h1>Add Interests</h1>

<h5> Why did you join Sprout? </h5>
              <p>

<form action="/add_interests" method="post">  
      <div class="col">
      <ul class="list-group list-group-flush">
            <li class="list-group-item"> 
              <input class="form-check-input me-1" type="checkbox" name="query_friends" id="query_friends">
              <label class="form-check-label stretched-link" for="query_friends">Meet Parent Friends</label>
            </li>
            <li class="list-group-item"> 
              <input class="form-check-input me-1" type="checkbox"name="query_playdates" id="query_playdates">

              <label class="form-check-label stretched-link" for="query_playdates">Organize Playdates</label>
            </li>
            <li class="list-group-item"> 
              <input class="form-check-input me-1" type="checkbox" name="query_support" id="query_support">
              <label class="form-check-label stretched-link" for="query_support">Support and Advice</label>
            </li>
              <li class="list-group-item"> 
              <input class="form-check-input me-1" type="checkbox" name="query_babysitting" id="query_babysitting">
              <label class="form-check-label stretched-link" for="query_babysitting">Babysitting Exchange</label>
            </li>
                         <li class="list-group-item"> 
              <input class="form-check-input me-1" type="checkbox" name="query_nanny_sharing" id="query_nanny_sharing">
              <label class="form-check-label stretched-link" for="query_nanny_sharing">Nanny Sharing</label>
            </li>
        <p>
        <p>
      <button class="btn btn-primary" >
        Add interests
       </button>
